@import url(./fonts.css);
@import url(./reset.css);

#wrap {
  width:100%;
  height:100%;
}

#wrap #header {}

#wrap #main {
  width:100%;
  height:100%;
}
#wrap #main #section1 {
  width:100%;
  height:100%;
  background:url(../img/photography-img1.jpg) no-repeat 50% 50% fixed;
  background-size:cover;
  display:flex;
  position:relative;
}
#wrap #main #section1 h2 {
  font-size:200px;
  font-weight:600;
  color:rgba(0, 255, 151, 0.5);
  margin:auto;
  text-align:center;
}
#wrap #main #section1 .foot-deco {
  position:absolute;bottom:60px;left:0;
  width:100%;
  margin:auto;
  text-align:center;

}
#wrap #main #section1 .foot-deco em {
  font-size:13px;
  font-weight:500;
  color:#fff;
}

#wrap #main #section1 .foot-deco p {
  width:80px;
  height:3px;
  background:rgba(0, 239, 255, 0.5);
  margin:20px auto 0 auto;
}





#wrap #main #section2 {
  width:100%;
  height:100%;
  background:url(../img/photography-img2.jpg) no-repeat 50% 50% fixed;
  background-size:cover;
  display:flex;
  position:relative;
}
#wrap #main #section2 h2 {
  font-size:200px;
  font-weight:600;
  color:rgba(0, 255, 151, 0.5);
  margin:auto;
  text-align:center;
}
#wrap #main #section2 .foot-deco {
  position:absolute;bottom:60px;left:0;
  width:100%;
  margin:0 auto;
  text-align:center;
}

#wrap #main #section2 .foot-deco em {
  font-size:13px;
  font-weight:500;
  color:#fff;
}

#wrap #main #section2 .foot-deco p {
  width:80px;
  height:3px;
  background:rgba(0, 255, 151, 0.5);
  margin:20px auto 0 auto;
}





#wrap #main #section3 {
  width:100%;
  height:100%;
  background:url(../img/photography-img3.jpg) no-repeat 50% 50% fixed;
  background-size:cover;
  display:flex;
  position:relative;
}
#wrap #main #section3 h2 {
  font-size:200px;
  font-weight:600;
  color:rgba(0, 239, 255, 0.5);
  margin:auto;
  text-align:center;
}
#wrap #main #section3 .foot-deco {
  position:absolute;bottom:60px;left:0;
  width:100%;
  margin:0 auto;
  text-align:center;
}

#wrap #main #section3 .foot-deco strong {
  font-size:13px;
  font-weight:500;
  color:#fff;
}

#wrap #main #section3 .foot-deco i {
  width:80px;
  height:3px;
  background:rgba(0, 239, 255, 0.5);
  display:block;
  margin:20px auto 0 auto;
}




#wrap #main #section4 {
  width:100%;
  height:100%;
  background:url(../img/photography-img4.jpg) no-repeat 50% 50% fixed;
  background-size:cover;
  display:flex;
  position:relative;
}
#wrap #main #section4 h2 {
  font-size:200px;
  font-weight:600;
  color:rgba(0, 255, 151, 0.5);
  margin:auto;
  text-align:center;
}
#wrap #main #section4 .foot-deco {
  position:absolute;bottom:60px;left:0;
  width:100%;
  margin:0 auto;
  text-align:center;
}

#wrap #main #section4 .foot-deco strong {
  font-size:13px;
  font-weight:500;
  color:#fff;
}

#wrap #main #section4 .foot-deco i {
  width:80px;
  height:3px;
  background:rgba(0, 255, 151, 0.5);
  display:block;
  margin:20px auto 0 auto;
}




#wrap #main #section5 {}
#wrap #main #section6 {}
#wrap #main #section7 {}
#wrap #main #section8 {}
#wrap #main #section9 {}
#wrap #main #section10 {}
#wrap #main #section11 {}
#wrap #main #section12 {}
#wrap #main #section13 {}
#wrap #main #section14 {}
#wrap #main #section15 {}

#wrap #footer {}